section
	h1 Card
	hr
	h2 Vertical Card (default)
	div(class='row')
		div(class='col-3')
			div(class='card small')
				div(class='card-image')
					img(src=imageSrc[0])
				div(class='card-content')
					span Card content
		div(class='col-4')
			div(class='card')
				div(class='card-image')
					img(src=imageSrc[1] alt='image')
				div(class='card-content')
					span Card content
		div(class='col-5')
			div(class='card large')
				div(class='card-image')
					img(src=imageSrc[2] alt='image')
				div(class='card-content')
					span Card content
	h2 Horizontal Card
	div(class='row')
		div(class='col-4')
			div(class='card horizontal small')
				div(class='card-image')
					img(src=imageSrc[2] alt='image')
				div(class='card-content')
					span Card content
	div(class='row')
		div(class='col-6')
			div(class='card horizontal')
				div(class='card-image')
					img(src=imageSrc[1] alt='image')
				div(class='card-content')
					span Card content
	div(class='row')
		div(class='col-8')
			div(class='card horizontal large')
				div(class='card-image')
					img(src=imageSrc[0] alt='image')
				div(class='card-content')
					span Card content
	h2 Card Inline
	ul(class='card-list')
		li(class='card inline small')
			div(class='card-image')
				img(src=imageSrc[1] alt='image')
			div(class='card-content')
				span Card content
		li(class='card inline')
			div(class='card-image')
				img(src=imageSrc[2] alt='image')
			div(class='card-content')
				span Card content
		li(class='card inline large')
			div(class='card-image')
				img(src=imageSrc[0] alt='image')
			div(class='card-content')
				span Card content
	ul(class='card-list')
		li(class='card horizontal inline small')
			div(class='card-image')
				img(src=imageSrc[0] alt='image')
			div(class='card-content')
				span Card content
		li(class='card horizontal inline')
			div(class='card-image')
				img(src=imageSrc[1] alt='image')
			div(class='card-content')
				span Card content
		li(class='card horizontal inline large')
			div(class='card-image')
				img(src=imageSrc[2] alt='image')
			div(class='card-content')
				span Card content